<nav class="pure-menu pure-menu-horizontal" style="margin-bottom: 1.5em;">
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><a href="{{ "/" | relative_url }}">Home</a></li>
    <li class="pure-menu-item"><a href="{{ "/smartcorelib" | relative_url }}">smartcore</a></li>
    <li class="pure-menu-item"><a href="{{ "/vibelang-rs" | relative_url }}">vibelang-rs</a></li>
    <li class="pure-menu-item"><a href="{{ "/bmpp" | relative_url }}">BMPP</a></li>
    <li class="pure-menu-item"><a href="{{ "/bmpp-paper" | relative_url }}">BMPP Paper</a></li>
    <li class="pure-menu-item"><a href="{{ "/contact" | relative_url }}">Contact</a></li>
  </ul>
</nav>


